
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css") media-types;


h2 { border-top: 2px #26a6e4 solid; }
p.note {background-color: #ddd; font-style: italic; padding: 10px; box-shadow: 5px 5px;
}
img { border: 1px white solid; }
