
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css") media-types;


h2 { border-top: 2px #26a6e4 solid; }
xdiv.navbar {background: #CC0000;}
img { border: 1px white solid; }
